/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [TeamNumber]
      ,[MatchNumber]
      ,[ScoutedBy]
      ,[Regional]
      ,[AutoLowGoalMake]
      ,[AutoHighGoalMake]
      ,[Taxi]
      ,[TelopLowGoalMake]
      ,[TelopLowGoalMiss]
      ,[TelopHighGoalMake]
      ,[TelopHighGoalMiss]
      ,[DefensePlays]
      ,[EndGameStatus]
	  ,[EndGameSuccess]
      ,[AllianceScore]
      ,[WinLossTie]
      ,[Comments]
  FROM [Scouting 2022].[dbo].[MatchMaster1]