/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [TeamNumber]
      ,[TotalMatches]
      ,[NumberTaxi]
      ,[TotalAutoLow]
      ,[TotalAutoHigh]
      ,[TotalLow]
      ,[TotalHigh]
      ,[MaxLow]
      ,[MaxHigh]
      ,[LowGoalAccuracy]
      ,[HighGoalAccuracy]
      ,[NumClimb1]
      ,[NumClimb2]
      ,[NumClimb3]
      ,[NumClimb4]
      ,[TotalDefensivePlays]
      ,[MaxDefensivePlays]
      ,[NumWins]
      ,[NumLosses]
      ,[NumTies]
      ,[AvgTaxiScore]
      ,[AvgAutoLowGoalMake]
      ,[AvgAutoHighGoalMake]
      ,[AvgTelopLowGoalMake]
      ,[AvgTelopHighGoalMake]
      ,[EndGame1]
      ,[EndGame2]
      ,[EndGame3]
      ,[EndGame4]
      ,[SuperScore]
  FROM [Scouting 2022].[dbo].[DuluthDataView]