<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibxcodecat.frc_scouting">
    <!-- Allows app to scan for Bluetooth devices. The app will never use Bluetooth to track location -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" /> <!-- Allow app to make the device discoverable to Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> <!-- Allow app to communicate with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!--Permission to write scouting files-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FRCScouting">
        <activity
            android:name="com.ibxcodecat.frc_scouting.SubmittedActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibxcodecat.frc_scouting.DataEntryActivity"
            android:exported="false"
            android:label="@string/Data_Collection_Title"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibxcodecat.frc_scouting.LaunchActivity"
            android:exported="true"
            android:label="@string/Welcome_Title"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>