name: Code Scanning
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Qodana Scan
        uses: JetBrains/qodana-action@v4.2.5
